.boton-general {
  background-color: var(--color-azul);
  border: none;
  padding: 16px 28px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
  margin: 0;
  width: fit-content;
}
